{% extends 'base.html' %}

{% load static %}

{% block content %}

<section class="innerpage_banner">
   <div class="container">
      <div class="row">
         <div class="col-sm-12">
            <div class="full">
               <div class="page_title">
                  <div class="full heading_s1">
                     <h2><span>Jewellery</span></h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- end inner page -->
<!-- section -->
<section class="layout_padding section padding_bottom_0">
   <div class="container">
      <div class="row">
         <div class="col-lg-12">
            <div class="full heading_s1">
               <h2>Jewellery</h2>
            </div>
            <div class="full">
               <p class="large">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                  Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                  took a galley of type and</p>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- end section -->
<!-- section -->
<section class="layout_padding haf_layout section">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-11">
            <div class="row">
               <div class="container">
                  <div class="col-md-8">
                     <div class="full banner_section">
                        <h3>Best <span style="color: #72dd78 !important;">Jewellery Shop</span></h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                           been the industry's standard dummy text ever since the 1500s, when an unknown printer took
                           a galley of type and</p>
                     </div>
                  </div>
               </div>
            </div>
            <img class="img-responsive" src="images/bg1.jpg" alt="#" />
         </div>
      </div>
   </div>
</section>

{% endblock %}
