{% extends 'base.html' %}

{% load static %}

{% block content%}

<section class="innerpage_banner">
   <div class="container">
      <div class="row">
         <div class="col-sm-12">
            <div class="full">
               <div class="page_title">
                  <div class="full heading_s1">
                     <h2><span>Our Shop</span></h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="layout_padding section padding_bottom_0">
   <div class="container">
      <div class="row">
         <div class="col-lg-12">
            <div class="full">
               <p class="large">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                  has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                  galley of type and</p>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="layout_padding haf_layout section">
   <div class="container">
      <div class="row product_section">
         {% for i in loxury %}
         <div class="col-md-4">
            <div class="full product_blog margin_top_30">
               <img src="{{ i.image.url }}" alt="img"/>
               <h3><span style="color: #72dd78 !important;">${{ i.price }}</span>{{ i.name }}</h3>
            </div>
         </div>
         {% endfor %}
      </div>
   </div>
</section>

{% endblock %}
